AddHandler php5-script .php

# Mod-rewrite so there are pretty urls
# Remove www
<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{HTTP_HOST} ^www\.saveviewsource\.org/?$ [NC]
	RewriteRule ^(.*)$ http://saveviewsource.org/$1 [R=301,L]
</IfModule>

# Set the default character set
AddDefaultCharset utf-8

# Adds font mime-types and compress them
AddType font/opentype otf
AddType font/truetype ttf
AddType font/eot eot
AddType font/woff woff

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE font/opentype font/truetype font/eot font/woff
</IfModule>

# Add Expires headers to specific file types
<IfModule mod_expires.c>
	# Expires headers active
	ExpiresActive On
	
	# Default: 1 Week
	ExpiresDefault A604800
	
	# By Type: 4 Weeks
	ExpiresByType text/html A2419200
	
	ExpiresByType application/x-javascript A2419200
	ExpiresByType application/javascript A2419200
	ExpiresByType text/javascript A2419200
	ExpiresByType text/css A2419200
	
	ExpiresByType image/x-icon A2419200
	ExpiresByType image/gif A2419200
	ExpiresByType image/png A2419200
	ExpiresByType image/jpeg A2419200
	ExpiresByType image/jpg A2419200
	
	ExpiresByType application/x-shockwave-flash A2419200
	ExpiresByType video/x-flv A2419200
	
	ExpiresByType application/pdf A2419200
	ExpiresByType application/xml A2419200
	ExpiresByType text/xml A2419200
	ExpiresByType text/plain A2419200
	
	ExpiresByType font/opentype A2419200
	ExpiresByType font/truetype A2419200
	ExpiresByType font/eot A2419200
	ExpiresByType font/woff A2419200
</IfModule>

# ETags aren't really recommended as they are specific to a server
# If served from a cluster, Cdn or something else dynamic they are not reliable
FileETag None
