AddHandler php5-script .php

# disallow non-local referrers
#SetEnvIfNoCase Referer "^http://\w.thomasjbradley.ca[/$]" locally_linked=1

# uncomment to allow blank referrers
# SetEnvIfNoCase Referer "^$" locally_linked=1

#<FilesMatch "\.(ttf|otf|eot|woff)$">
#	Order Allow, Deny
#	Allow from env=locally_linked

	# allow subdomain access
	<IfModule mod_headers.c>
		Header set Access-Control-Allow-Origin "http://thomasjbradley.ca"
		Header set Access-Control-Max-Age "2592000"
	</IfModule>
#</FilesMatch>

# Adds font mime-types and compress them
AddType font/otf otf
AddType font/ttf ttf
AddType font/eot eot
AddType font/woff woff

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE font/otf font/ttf font/eot font/woff
</IfModule>

# Add Expires headers to specific file types
<IfModule mod_expires.c>
	ExpiresByType font/otf A2419200
	ExpiresByType font/ttf A2419200
	ExpiresByType font/eot A2419200
	ExpiresByType font/woff A2419200
</IfModule>

# ETags aren't really recommended as they are specific to a server
# If served from a cluster, Cdn or something else dynamic they are not reliable
FileETag None

# Add Cache-Control and Expires headers to the listed file extensions
<IfModule mod_headers.c>
	<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|otf|ttf|eot|woff)$">
		Header set Cache-Control "public"
		Header set Expires "Wed, 28 Oct 2015 20:00:00 GMT"
	</FilesMatch>
</IfModule>